# Pandas Exercises (ME17B162)

Assigments for Pandas skills

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [1]:
import pandas as pd

In [42]:
banks = pd.read_csv ('banklist.csv')

** Show the head of the dataframe **

In [26]:
# CODE HERE

In [4]:
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

** What are the column names? **

In [5]:
# CODE HERE
print(banks.columns)

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

** How many States (ST) are represented in this data set? **

In [9]:
# CODE HERE
print(len(banks['ST'].unique()))

44

** Get a list or array of all the states in the data set. **

In [10]:
# CODE HERE
banks['ST'].unique()

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

** What are the top 5 states with the most failed banks? **

In [13]:
# CODE HERE

In [19]:
banks['ST'].value_counts()[:5]

GA    93
FL    75
IL    67
CA    41
MN    23
Name: ST, dtype: int64

** What are the top 5 acquiring institutions? **

In [20]:
# CODE HERE
banks['Acquiring Institution'].value_counts()[:5]

No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: Acquiring Institution, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [25]:
# CODE HERE
#How many banks has the State Bank of Texas acquired?
print(display(banks[banks['Acquiring Institution'] == 'State Bank of Texas']))

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

None

In [28]:
#How many of them were actually in Texas?
banksspl = pd.DataFrame()
banksspl = banks[banks['Acquiring Institution'] == 'State Bank of Texas']
print(display(banksspl[banksspl['City']=='Texas']))

Empty DataFrame
Columns: [Bank Name, City, ST, CERT, Acquiring Institution, Closing Date, Updated Date]
Index: []

None

** What is the most common city in California for a bank to fail in?**

In [33]:
# CODE HERE
banksca = banks[banks['ST'] == 'CA']
print(banksca['City'].value_counts()[:1])

Los Angeles    4
Name: City, dtype: int64

** How many failed banks don't have the word "Bank" in their name? **

In [35]:
# CODE HERE
nos = 0
for i in range(len(banks)):
    if 'Bank' not in banks['Bank Name'][i]:
        nos+=1
nos

14

** How many bank names start with the letter 's' ? **

In [43]:
# CODE HERE
nos = 0
for i in range(len(banks)):
    if 's' == banks['Bank Name'][i].lower()[0]:
        nos+=1
nos

53

** How many CERT values are above 20000 ? **

In [44]:
# CODE HERE
nos = 0
for i in range(len(banks)):
    if banks['CERT'][i]>20000:
        nos+=1
nos

417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [46]:
# CODE HERE
nos = 0
for i in range(len(banks)):
    if len(banks['Bank Name'][i].split())==2:
        nos+=1
nos

114

**Bonus: How many banks closed in the year 2008? (this is hard because we technically haven't learned about time series with pandas yet! Feel free to skip this one!**

In [56]:
# CODE HERE
import datetime
nos=0
banks2 = banks
banks2['closing year'] = pd.DatetimeIndex(banks2['Closing Date']).year
for i in range(len(banks2)):
    if banks2['closing year'][i] == 2008:
        nos+=1
nos

25